/* Core Styling Variables */
.main-container {
    -fx-background-color: #1e1e24;
}

/* Sidebar Styling */
.sidebar {
    -fx-background-color: #111115;
}
.sidebar-brand {
    -fx-text-fill: #e0a96d; /* Coffee Accent color */
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
.sidebar-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #b3b3b3;
    -fx-font-size: 14px;
    -fx-alignment: center-left;
    -fx-padding: 12 15 12 15;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}
.sidebar-btn:hover {
    -fx-background-color: #2a2a35;
    -fx-text-fill: #ffffff;
}
.active-btn {
    -fx-background-color: #e0a96d;
    -fx-text-fill: #111115;
    -fx-font-weight: bold;
}
.active-btn:hover {
    -fx-background-color: #cca15f;
    -fx-text-fill: #111115;
}

/* Content Pane styling */
.content-pane {
    -fx-background-color: #1a1a1f;
}
.welcome-text {
    -fx-text-fill: #8c8c8c;
    -fx-font-size: 16px;
}